* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2ebe3;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 600px;
    height: 456px;
}

@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        width: 350px;
        height: 750px;
    }
}

.product-desktop {
    width: 100%;
    height: 100%;
    border-radius: 8px 0 0 8px;
}

@media (max-width: 767px) {
    .product-desktop {
        display: none;
    }
}

.product-mobile {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

@media (min-width: 768px) {
    .product-mobile {
        display: none;
    }
}

.text {
    padding: 32px;
    background-color: white;
    width: 300px;
    border-radius: 0 8px 8px 0;
}

@media (max-width: 767px) {
    .text {
        width: 350px;
        height: 408px;
        border-radius: 0 0 8px 8px;
    }
}

h1 {
    color: #6C7289;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
    color: #1C232B;
    font-family: "Fraunces", serif;
    font-weight: 800;
    font-size: 32px;
    margin: 24px 0;
    line-height: 1;
}

p {
    color: #6C7289;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.572;
}

.price {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 32px 0;
    width: 191px;
}

.new-price {
    color: #3D8168;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.019px;
}

.old-price {
    color: #6C7289;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.231;
    letter-spacing: 0.05px;
    text-decoration: line-through;
}

button {
    background-color: #3D8168;
    width: 236px;
    padding: 16px 0;
    gap: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

@media (max-width: 767px) {
    button {
        width: 286px;
    }
}

button:hover {
    background-color: #1A4032;
    cursor: pointer;
}

button img {
    width: 18px;
    height: 18px;
}

button span {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.072;
    letter-spacing: 0.087px;
}
